:root {
  --primary-color: #e5efc1;
  --secondary-color: #a2d5ab;
  --tertiary-color: #39aea9;
  --quaternary-color: #557b83;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../images/nav-background.jpeg);
    background-size: cover;
}
header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--primary-color);
    margin: 0;
    text-decoration: underline;
}
header a {
    text-decoration: none;
    color: var(--primary-color) ;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
  }
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

h2 {
    text-decoration: underline;
}
.about-me {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    text-align: center;
    padding: 20px 35px;
}

.my-work {
    color: var(--quaternary-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 35px;
}

.horiseon {
    padding-bottom: 20px;
}

.primary-image {
    height: 250px;    
    width: 450px; 
}

.contact-me {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    text-align: center;
    padding: 20px 5px;

}

.contact-me a {
    text-decoration: none;
    color: var(--primary-color) ;
    text-align: center;
}

