:root {
  --primary-color: #e5efc1;
  --secondary-color: #a2d5ab;
  --tertiary-color: #39aea9;
  --quaternary-color: #557b83;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--tertiary-color)
}

header {
    padding: 20px 35px;
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--quaternary-color);
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--quaternary-color) ;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.contact-me a {
    text-decoration: none;
    color: var(--tertiary-color) ;
}

.horiseon {
    margin: 60 px;
    padding: 20px;
    flex: 1;

}